<section class="page-name background-bg" data-image-src="/assets/images/breadcrumb.jpg">
    <div class="overlay">
        <div class="section-padding">
            <div class="container">
                <form action="#" class="course-search-form">
                    <input type="text" name="search" id="search" class="search"
                        placeholder="Find a course or tutorial ">
                    <input type="submit" name="submit" id="search-submit" class="sreach-submit">
                </form><!-- /.course-search-form -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </div><!-- /.overlay -->
</section><!-- /.page-name -->




<section class="courses">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="filters">
                        <div class="row">
                            <div class="col-lg-6">
                                <select class="filter-select" name="text">
                                    <option value="" selected>All price</option>
                                    <option value="20">Under $20</option>
                                    <option value="40">Under $40</option>
                                    <option value="60">Under $60</option>
                                </select>

                                <select class="filter-select" name="text">
                                    <option value="" selected>All type</option>
                                    <option value="online">Online</option>
                                    <option value="offline">Offline</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <span class="float-left">Sort by:</span>

                                <select class="filter-select" name="text">
                                    <option value="" selected>Popularity</option>
                                    <option value="paid">Top paid</option>
                                    <option value="free">Top free</option>
                                </select>

                                <div class="layout-switcher">
                                    <span class="grid"><i class="fa fa-th"></i></span>
                                    <span class="list"><i class="fa fa-list"></i></span>
                                </div><!-- /.layout-switcher -->
                                <p>
                                    Showing 12 of 17
                                </p>
                            </div>
                        </div>
                    </div><!-- /.filters -->

                    <div class="course-items">
                        <div class="row">
                            
                            
                            <div class="col-12" *ngIf="loading">
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                  </div>
                            </div>
                           
                            
                              <!-- erreur connexion--> 
                            <div class="col-12" *ngIf="errorOccured">



                                <p>
                                    Une erreur s'est produite
                                </p>
                                <button class="btn btn-primary" type="button" (click)="retry()" [disabled]="loading" *ngIf="errorOccured">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    retry
                                  </button>
                            </div>

                            <div class="col-lg-4 col-md-6" *ngFor="let c of listCourses">
                                <app-course-item [course]="c"></app-course-item>
                            </div>
                            
                            
                           

                          
                        </div><!-- /.row -->

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div><!-- /.course-items -->
                </div>
                

                <div class="col-md-4">
                    <aside class="sidebar">
                        <div class="category-list">
                            <ul>
                                <li class="active"><a href="#">All Courses</a></li>
                                <li *ngFor="let item of catList"><a href="#">{{ item }}</a></li>
                            </ul>
                        </div>
                    </aside><!-- /.sidebar -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-padding -->
</section><!-- /.courses -->
