
    <div class="item">
        <div class="item-thumb"><img [src]="course?.image" alt="Item Thumbnail">
        </div><!-- /.item-thumb -->
        <div class="item-details">
            <h3 class="item-title"><a [routerLink]="['/course',course?.id]">{{ course?.title}}</a></h3>
            <!-- /.item-title -->
            <span class="instructor"><a [routerLink]="['/instructors/',course?.instructor?.id]">{{ course?.instructor?.name }}
                    Marks</a></span><!-- /.instructor -->
            <div class="details-bottom">
                <div class="course-price float-left"><span
                        class="currency">$</span><span class="price">{{ course?.price}}</span></div>
                <!-- /.course-price -->
                <div class="rating float-right">
                    <input type="hidden" class="rating-tooltip-manual"
                        data-filled="fas fa-star" data-empty="far fa-star" [value]="course?.rate"
                        data-fractions="5" />
                </div><!-- /.rating -->
            </div><!-- /.details-bottom -->
        </div><!-- /.item-details -->
    </div><!-- /.item -->
