<section class="page-name background-bg" data-image-src="/assets/images/breadcrumb.jpg">
    <div class="overlay">
        <div class="section-padding">
            <div class="container">
                <h2 class="section-title">Contact us</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                    </ol>
                </nav>
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </div><!-- /.overlay -->
</section><!-- /.page-name -->





<section class="contact text-center">
    <div class="section-padding">
        <div class="container" *ngIf="showForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="item-icon">
                            <i class="fa fa-phone"></i>
                        </div><!-- /.item-icon -->
                        <h3 class="item-title">Phone</h3><!-- /.item-title -->
                        <span>(+61) 38376 6284</span>
                    </div><!-- /.item -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="item">
                        <div class="item-icon">
                            <i class="fa fa-map"></i>
                        </div><!-- /.item-icon -->
                        <h3 class="item-title">Address</h3><!-- /.item-title -->
                        <span>12 King Street, Melbourne 3000, AUstralia</span>
                    </div><!-- /.item -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="item">
                        <div class="item-icon">
                            <i class="fa fa-envelope"></i>
                        </div><!-- /.item-icon -->
                        <h3 class="item-title">Email</h3><!-- /.item-title -->
                        <span><a href="#"><span class="__cf_email__"
                                    data-cfemail="177478796376746348626457747862656472607665723974787a">[email&#160;protected]</span></a></span>
                    </div><!-- /.item -->
                </div><!-- /.col-md-4 -->
            </div><!--/.row-->


            <form class="wpcf7-form" method="post" (ngSubmit)="contactForm.valid && onSubmit()" #contactForm="ngForm" novalidate>

       
                <div class="form-row">
                    <div class="col-12">
                        <input type="text" class="form-control" name="name" placeholder="Your Name*"
                            [(ngModel)]="contact.fullname"
                            [ngClass]="{'is-invalid':contactForm.submitted ||fullname.touched && fullname.errors,'is-valid':fullname.valid}"
                            #fullname="ngModel" required minlength="3">
                        <div class="invalid-feedback" *ngIf="fullname.errors">
                            <div *ngIf="fullname.errors['required']"> fullname required</div>
                            <div *ngIf="fullname.errors['minlength']"> full name must be al least 3 characters</div>
                        </div>

                    </div>
                    <div class="col">
                        <input type="email" class="form-control" name="email" placeholder="Your Email*"
                         #email="ngModel"
                         [(ngModel)]="contact.email"
                         [ngClass]="{'is-invalid':contactForm.submitted ||email.touched && email.errors,'is-valid':email.valid}"
                             required email>
                             <div class="invalid-feedback" *ngIf="email.errors">
                                <div *ngIf="email.errors['required']"> fullname required</div>
                                <div *ngIf="email.errors['email']"> email format invalid</div>
                            </div>


                    </div>
                    <div class="col">


                        <input type="text" class="form-control" name="subject" placeholder="Subject"
                            [(ngModel)]="contact.subject" #subject="ngModel"
                            [ngClass]="{'is-invalid':contactForm.submitted ||subject.touched && subject.errors,'is-valid':subject.valid}"
                             required>
                             <div class="invalid-feedback" *ngIf="subject.errors">
                                <div *ngIf="subject.errors['required']"> fullname required</div>
                            </div>
                    </div>

                    <div class="col-md-12">

                <textarea name="message" class="form-control" cols="30" rows="7" placeholder="Your Message*"
                    [(ngModel)]="contact.message" #message="ngModel"
                    [ngClass]="{'is-invalid':contactForm.submitted ||message.touched && message.errors,'is-valid':message.valid}"
                    required></textarea>
                    <div class="invalid-feedback" *ngIf="message.errors">
                        <div> field message is required</div>
                    </div>
                    </div>
                </div>











                <input type="submit" class="btn" value="Send Message">
            </form>



        </div><!--/.container-->
    </div><!-- /.section-padding -->
</section><!--/.contact-->